[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
jupyter = "*"
networkx = "*"
jupyterlab = "*"
altair = "*"
beakerx = "*"
ipyparallel = "*"
dask = {extras = ["complete"]}
graphviz = "*"
python-igraph = "*"
scipy = "*"
bokeh = "*"
scikit-learn = "*"
sklearn_tda = {git = "https://github.com/MathieuCarriere/sklearn_tda"}
cython = "*"
dionysus = {git = "https://github.com/mrzv/dionysus.git"}
nltk = "*"
pyclustering = "*"
dill = "*"
python-language-server = {extras = ["all"]}
"network2tikz" = "*"

[dev-packages]
