[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
jupyter = "*"
networkx = "*"
jupyterlab = "*"
altair = "*"
python-igraph = "*"
beakerx = "*"
dionysus = "*"
ipyparallel = "*"
dask = {extras = ["complete"]}
graphviz = "*"

[dev-packages]
